.header {
  padding: 0px 30px;
  border-bottom: 2px solid black;
  background-color: #eeddd3;
}
nav {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
nav > h1 {
  font-size: 2rem;
}
section {
  display: flex;
  gap: 50px;
}
section > h1 {
  cursor: pointer;
}
